/* -------------------------------------------------------------------
Main pieces
 ------------------------------------------------------------------- */

html, body, div,
h1, h2, h4, h5, h6, p, strong, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, footer, header,  nav, section, 
time, button {
	margin: 			0%;
	padding: 			0%;
	border: 			0;
	font-size: 			100%;
	font-family: 		Avenir, Verdana, Geneva, sans-serif	;
	vertical-align: 	baseline;
}

#menu {
	margin-right:		2em;
	padding-right:		2em;
}

#menu a {
	margin-right:		1.5em;
	padding-right:		1.5em;
}

#main {
	min-height:			600px;
	border-style:		solid;
	border-color:		#800000;
	border-width:		2px;
	border-radius:		15px;
	padding:			10px;
	margin-right:		1%;
	margin-bottom:		1%;
	min-width:			900px;
}

body {
	line-height: 		1;
    margin-left:		1%;
    margin-bottom:		30px;
}

h1 {
	font-size: 			48px;
	color:    			#800000;
	margin-top: 		.5%;
	margin-bottom: 		.5%;
	text-shadow: 		0px 2px 3px #555;
    z-index:			2147483647;
}

h2 {

}

h3 {
	font-size: 			12px;
	color:			    #000099; 
	font-style:		    italic;
}

hr {
	margin-right:		1%;
}

#footer_left {
	float:				left;
	margin-left:		1em;
}

#footer_right {
	float:				right;
	margin-right:       1em;
}

footer {

	padding-top:		15px;
	margin-top:			15px;			
}

/* -------------------------------------------------------------------
Forms
 ------------------------------------------------------------------- */

textarea, input {
	border-radius: 		5px;
}

img {
	border-radius:		25px;
}

html, button {
 	background-color:	white;

}

a:link    {
	color: 				gray;
}

a:visited {
	color: 				gray;
}

.error {
  	color:			    #000099;
  	font-style:		    italic;
  	padding-left:		0.5em;
}

.buttons {
	background-color:	#000099;
	color:				white;
	font-weight:		bold;
	font-size: 			12px;
}

#hide-button  {

}


/*-------------------------------------------------------------------------------------------------
Editor Canvas
-------------------------------------------------------------------------------------------------*/


#wrapper {
	width:				900px;

	height:				450px;
	float:				left;
	clear:				both;
	margin-right:		400px;
	/* margin:0px auto; 
	*/
}

/* Left column */
#controls {
	width:425px;
	margin-right:50px;
	float:left;

}
/* Right column */
#preview {
	width:				800px;			
	float:left;
/*	text-align:center; */
	
}
#canvas-background {
	/* background-image:url('../images/card-background.jpg'); */
	background-repeat:no-repeat;
	height:513px;
	width:800px;
	/*margin:0px auto;
	*/	
}

#content {
	/*border-radius: 	5px;*/
	background-color: 	#E8E8E8 ;
}

#canvas {
	width:800px;
	height:500px;
/*	position:relative;
	top:33px;
	left:160px;
	*/
	z-index:1; /* So we can place the stickers above */
	overflow:scroll;
	
	border: 			red;
	border-width:		2px;
/* REMOVE ME LATER - for debug   	
	background-color:	orange;
	*/
}

#publish_post {


}

#styleFont{
	width:				200px;
}

input.edgeless_fields {
	border-radius:		0px;
	border:				0px inset #F8F8F8;
	border-right:		#F8F8F8;
	border-bottom:		#FFFFFF;
	font:				Avenir;

}

input#edgeless_field1 {

	font-size: 10px;
}

#edgeless_field1 {

	font-family: 		Avenir;
}

#draggable { 
	width: 				150px; 
	height: 			150px; 
	padding: 			0.5em; 
}

#post-text-output {
	top: 100px;
	font-size:30px;
	width: 200px;
	border:				1px inset black;
	border-radius:		5px;
}

.tools-tray {
	float:				right;
	margin:				10px;
	border:				5px;

}
#grabber {

	height:				100%;
	float:				right;
	margin:				2px;
}

#grabber hr {
	width:				12px;
	height:				2px;
	background-color:				gray;
}
.toggler, #accordion {

	position:			absolute;
	top:				60px;
	right				30px;
	margin-left:		400px;
}

#accordion { 
 	max-width:			280px;
 	min-width:			280px; 
}

.toggler { 
	width: 				200px; 
	height: 			200px;
}

#button { 
	padding: 			.5em 1em; 
	text-decoration: 	none; 
}

#effect { 
	width: 				260px; 
	height: 			135px; 
	padding: 			0.4em;  
}

#effect h3 { 
	margin: 			0;
	padding: 			0.4em; 
	text-align: 		center; 
	font-size: 			12px;
}

/*----------------------------------------------------
tools 
----------------------------------------------------*/
.colors, .text-colors {
	width: 				36px;
	height:				36px;
	border:				1px solid gray;
	float:				left;
	cursor:				pointer;

}


#imagesDiv, .error {	
	font-size:			12px;
} 

#red, #red-text {
	background-color:	red;
	border-radius:		5px;
	margin:				.5px
}

#orange, #orange-text  {
	background-color:	orange;
	border-radius:		5px;
	margin:				.5px
}

#green, #green-text {
	background-color:	green;
	border-radius:		5px;
	margin:				.5px;
}

#yellow, #yellow-text {
	background-color:	yellow;
	border-radius:		5px;
	margin:				.5px;
}

#blue, #blue-text {
	background-color:	blue;
	border-radius:		5px;
	margin:				.5px;
}

#indigo, #indigo-text {
	background-color:	indigo;
	border-radius:		5px;
	margin:				.5px;
}

#violet, #violet-text {
	background-color:	violet;
	border-radius:		5px;
	margin:				.5px;
}

#black, #black-text {
	background-color:	black;
	border-radius:		5px;
	margin:				.5px;
}

#gray, #gray-text {
	background-color:	gray;
	border-radius:		5px;
	margin:				.5px;
}

#white, #white-text {
	background-color:	white;
	border-radius:		5px;
	margin:				.5px;
}