/* -------------------------------------------------------------------
Main pieces
 ------------------------------------------------------------------- */

html, body, div,
h1, h2, h4, h5, h6, p, strong, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, footer, header,  nav, section, 
time, button {
	margin: 			0%;
	padding: 			0%;
	border: 			0;
	font-size: 			100%;
	font-family: 		Avenir, Verdana, Geneva, sans-serif	;
	vertical-align: 	baseline;
}



#menu {
	margin:				1em;
	padding-left:		2em;
	padding-right:		2em;
	text-align:			center;

}

#menu a {
	margin-right:		1.5em;
	padding-right:		1.5em;
	
}

#main {
	min-height:			550px;

	padding:			10px;
	padding-bottom:		50px;
	margin-bottom:		50px;
	margin-right:		1%;
	min-width:			900px;
}

body {
	line-height: 		1;
    margin-left:		1%;
}

h1 {
	font-size: 			48px;
	color:    			#800000;
	margin-top: 		.5%;
	margin-bottom: 		.5%;
	text-shadow: 		0px 2px 3px #555;
    z-index:			2147483647;
}

h2 {

}

h3 {
	font-size: 			12px;
	color:			    #000099; 
	font-style:		    italic;
}

h5 {
	font-size:			9px;

}

.right-align {
	text-align:			right;
/*	display:			inline;
	font-size:			.75em;   */

}
.left-align {
/*	display:			inline;
	font-size:			.75em;   */
	
}

hr {
	margin-right:		1%;
}

table {
/*	table-layout: 		fixed; */
	width: 				100%;
	border-collapse: 	collapse;
}

td {
	padding-left:			1em;
	padding-right:			1em;
	padding-top:			.25em;
	padding-bottom:			.25em;
}

table td, table th {
	border: thin solid black;
}

footer {
	clear:		both;
	padding-top:		105px;
	margin-top:			105px;	
  	bottom: 			0;
  	left: 				0;
  	height: 			50px;		
}

#footer_left {
	float:				left;
	margin-left:		1em;
}

#footer_right {
	float:				right;
	margin-right:       1em;
}



/* -------------------------------------------------------------------
Forms
 ------------------------------------------------------------------- */

textarea, input {
	border-radius: 		5px;
}


html, button {
 	background-color:	white;

}

a:link    {
	color: 				gray;
}

a:visited {
	color: 				gray;
}

.error {
  	color:			    #000099;
  	font-style:		    italic;
  	padding-left:		0.5em;
}

.buttons {
	background-color:	#000099;
	color:				white;
	font-weight:		bold;
	font-size: 			12px;
}

#hide-button  {

}


/*-------------------------------------------------------------------------------------------------
Editor Canvas
-------------------------------------------------------------------------------------------------*/


#wrapper, #preview {
	width:				900px;

	height:				450px;
	float:				left;
	clear:				both;
	margin-right:		400px;
	/* margin:0px auto; 
	*/
}

/* Left column */
#controls {
	width:425px;
	margin-right:50px;
	float:left;

}
/* Right column */
#preview {
	width:				800px;			
	float:left;
/*	text-align:center; */
	
}
#canvas-background {
	/* background-image:url('../images/card-background.jpg'); */
	background-repeat:no-repeat;
	height:513px;
	width:800px;
	/*margin:0px auto;
	*/	
}

#content {
	/*border-radius: 	5px;*/
	background-color: 	#E8E8E8 ;
}

#canvas {
	width:800px;
	height:500px;
	z-index:1; /* So we can place the stuff above */
	overflow:scroll;
	
	border: 			red;
	border-width:		2px;

}

#publish_post {


}


.draggable_image, .image_gallery {
	float:		left;
	clear:		right;

}

#styleFont{
	width:				200px;
}

input.edgeless_fields {
	border-radius:		0px;
	border:				0px inset #F8F8F8;
	border-right:		#F8F8F8;
	border-bottom:		#FFFFFF;
	font:				Avenir;

}

input#edgeless_field1 {

	font-size: 10px;
}

#edgeless_field1 {

	font-family: 		Avenir;
}

#draggable { 
	width: 				150px; 
	height: 			150px; 
	padding: 			0.5em; 
}

#post_text_output {

	font-size:			30px;
	width: 				220px;
	border:				2px solid black;
	border-radius:		5px;
}

.tools-tray {
	float:				right;
	margin:				10px;
	border:				5px;

}

.image-tray {

	float:				right;
	margin:				10px;
	border:				5px;
	width:				200px;
	
		position:			absolute;
	top:				60px;
	right				30px;
/*	margin-left:		400px;   */

}

#upload_results {
	margin-top:			150px;
	margin-left:		10%;
	padding-left:		50%;
	border:				2px solid black;
	border-radius:		5px;
}

img .image-tray {
	margin:				25px;
	padding:			25px;


}

.ui-widget-header {

	width:				200px;
	height:				13px;
}

#grabber {

	height:				100%;
	float:				right;
	margin:				2px;
}

#grabber hr {
	width:				12px;
	height:				2px;
	background-color:				gray;
}
.toggler, #accordion {

	position:			absolute;
	top:				65px;
	right				30px;
	margin-left:		400px;
}

#accordion { 
 	max-width:			280px;
 	min-width:			280px; 
}

.toggler { 
	width: 				20px; 
	height: 			20px;
}

#button { 
	padding: 			.5em 1em; 
	text-decoration: 	none; 
}

#effect { 
	width: 				20px; 
	height: 			20px; 
	padding: 			0.4em;  
	
}

#effect h3 { 
	margin: 			0;
	padding: 			0.4em; 
	text-align: 		center; 
	font-size: 			12px;
}

/*----------------------------------------------------
text tools 
----------------------------------------------------*/
.colors, .text-colors, .border-colors {
	width: 				36px;
	height:				36px;
	border:				1px solid gray;
	float:				left;
	cursor:				pointer;

}


#imagesDiv, .error {	
	font-size:			12px;
} 

#red, #red-text, #red-border {
	background-color:	red;
	border-radius:		5px;
	margin:				.5px
}

#orange, #orange-text, #orange-border  {
	background-color:	orange;
	border-radius:		5px;
	margin:				.5px
}

#green, #green-text, #green-border {
	background-color:	green;
	border-radius:		5px;
	margin:				.5px;
}

#yellow, #yellow-text, #yellow-border {
	background-color:	yellow;
	border-radius:		5px;
	margin:				.5px;
}

#blue, #blue-text, #blue-border {
	background-color:	blue;
	border-radius:		5px;
	margin:				.5px;
}

#indigo, #indigo-text, #indigo-border {
	background-color:	indigo;
	border-radius:		5px;
	margin:				.5px;
}

#violet, #violet-text, #violet-border {
	background-color:	violet;
	border-radius:		5px;
	margin:				.5px;
}

#black, #black-text, #black-border {
	background-color:	black;
	border-radius:		5px;
	margin:				.5px;
}

#gray, #gray-text, #gray-border {
	background-color:	gray;
	border-radius:		5px;
	margin:				.5px;
}

#white, #white-text {
	background-color:	white;
	border-radius:		5px;
	margin:				.5px;
}

/*----------------------------------------------------
image gallery

#gallery { 

	float: right; 
	width: 65%; 
	min-height: 12em; 
}

.gallery.custom-state-active { background: #eee; }
.gallery li { float: left; width: 96px; padding: 0.4em; margin: 0 0.4em 0.4em 0; text-align: center; }
.gallery li h5 { margin: 0 0 0.4em; cursor: move; }
.gallery li a { float: right; }
.gallery li a.ui-icon-zoomin { float: left; }
.gallery li img { width: 100%; cursor: move; }
 
#imagecanvas { 

	float: left; 
	width: 214px;
	min-height: 18em; 
	padding: 8px; 
	margin-top:	 10px;
	border:				2px solid black;
	border-radius:		5px;
}

#imagecanvas h4 { 

	line-height: 16px; 
	margin: 0 0 0.4em; 
}

#imagecanvas h4 .ui-icon { 

	float: left; 
}

#imagecanvas .gallery h5 { 

	display: none; 
}

----------------------------------------------------*/